<div class="container">
  <div class="service-show">
    <%= render "show", service: @service %>
  </div>
  <div class="comment-form">
    <%= simple_form_for([@service, @review], remote: true) do |f| %>
      <%= f.input :content %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <div class="comment-section">
    <%= render "./reviews/comment_list" %>
  </div>
  <%= link_to "Go back to list", services_path  %>
</div>


